<script>
$(document).on('activateTree', function(event, data){
    populateGeneralTabData(data);
});

var populateGeneralTabData = function(data){
    var getOutputScriptsDir = data.data.outputScriptsDirectory;
    if(data != null && data.refKey == "database"){
         $("#outputScriptsDirectory").val(getOutputScriptsDir);
    }
};

$(document).on('tabSelectedEvent', function(){
    populateGeneralTabData(selectedNode);
});
</script>
<div class="tab-content">
    <div class="tab-pane fade active in" id="generalMenuTabContent">
        <br>
        <br>
        <form id="generalMenuTabForm" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Output Scripts Directory:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="outputScriptsDirectory" placeholder="Output Scripts Directory...">
                </div>
            </div>
        </form>
    </div>
</div>